<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Logis Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Logis - v1.1.0
    * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<div id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/<%= language%>" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Empire LLC</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/<%= language%>"><%= data.head_a_1%></a></li>
                <li><a href="/<%= language%>/users/about"><%= data.head_a_2 %></a></li>
                <li class="dropdown"><a href="#"><span><%= data.head_a_3%></span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="/<%= language%>/users/legal"><%= data.head_a_4%></a></li>
                        <!--   <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>-->
                        <!--  <ul>
                              <li><a href="#">Deep Drop Down 1</a></li>
                              <li><a href="#">Deep Drop Down 2</a></li>
                              <li><a href="#">Deep Drop Down 3</a></li>
                              <li><a href="#">Deep Drop Down 4</a></li>
                              <li><a href="#">Deep Drop Down 5</a></li>
                          </ul>-->
                        </li>
                        <li><a  href="/<%= language%>/users/buyForMe"><%= data.head_a_8%></a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                <li><a href="/<%= language%>/users/registration/"><%= data.head_a_5%></a></li>
                <li><a href="/<%= language%>/auth/login"><%= data.head_a_6%></a></li>

                <li><a href="/<%= language%>/users/contact"><%= data.head_a_7%></a></li>
               <!-- <li><a class="get-a-quote" href="/<%= language%>/users/buyForMe"><%= data.head_a_8%></a></li>-->
                <div class="dropdown"><a href="#"> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul style="width: 70px">
                        <!--   <select>
                               <option></option>
                               <option></option>
                               <option></option>
                           </select>-->
                        <div class="langWrap">
                            <div><a href="/am/users/prohibited"  name="lang" class="active"><img
                                            src="/assets/img/arm_lang.svg" class="img-fluid mb-1 mb-lg-0 " alt=""
                                            width="20" height="16">
                                  <!--  <i class="bi bi-chevron-down dropdown-indicator active"></i>--></a></div>
                            <div><a href="/en/users/prohibited"  name="lang"><img src="/assets/img/en_lang.svg"
                                                                            class="img-fluid mb-1 mb-lg-0" alt=""
                                                                            width="20" height="16">
                                 <!--   <i class="bi bi-chevron-down dropdown-indicator"></i>--></a></div>
                            <div><a href="/ru/users/prohibited" name="lang"><img src="/assets/img/ru_lang.svg"
                                                                           class="img-fluid mb-1 mb-lg-0" alt=""
                                                                           width="20" height="16">
                                   <!-- <i class="bi bi-chevron-down dropdown-indicator"></i>--></a></div>
                        </div>
                    </ul>
                </div>
                <li><a href="/<%= language%>/users/calc" ><i  style="font-size: 20px;" class="fa-solid fa-calculator"></i></a></li>
            </ul>
        </nav><!-- .navbar -->

    </div>
</div>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h2 data-aos="fade-up">Your Lightning Fast Delivery Partner</h2>
                <p data-aos="fade-up" data-aos-delay="100">Facere distincenderit</p>

                <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up"
                      data-aos-delay="200">
                    <input type="text" class="form-control" placeholder="ZIP code or CitY">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

                <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>Clients</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>Projects</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>Support</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>Workers</p>
                        </div>
                    </div><!-- End Stats Item -->

                </div>
            </div>

            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <img src="/assets/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
            </div>

        </div>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <section id="service" class="services pt-0">
        <div class="container" data-aos="fade-up">

                    <div class="section-header">
                <h4>Ալկոհոլ, օծանելիք</h4>
                <p>Ալկոհոլային խմիչքներ, օծանելիք (200մլ-ից ավել):</p>
            </div>
            <div class="section-header">
                <h4>Բժշկական պարագաներ</h4>
                <p>Ռադիոակտիվ պարագաներ, դեղամիջոցներ (հոգեմետ կամ թմրանյութ պարունակող), ճնշումը չափող սարքեր
                    (տոնոմետր) սնդիկի
                    առկայությամբ:</p>
            </div>
            <div class="section-header">
                <h4>Դեղամիջոցներ</h4>
                <p>Թույլատրվում է առաքել 1 տարվա մեջ 5 տարբեր դեղամիջոցների՝ յուրաքանչյուրից 3 սպառողական փաթեթ։
                    Պարտադիր է, որ
                    դեղերը չլինեն հոգեմետ և չպարունակեն թմրանյութ։</p>
            </div>
            <div class="section-header">
                <h4>Պայթունավտանգ նյութեր</h4>
                <p>Պայթունավտանգ, հրավտանգ, դյուրավառ նյութեր, քիմիական նյութեր (թունաքիմիկատներ), լվացքի փոշի, չոր
                    սառույց (сухой лед), բենզին, մեթիլ սպիրտ, ացետոն, սոսինձ, սնդիկ, մագնիս, ֆոսֆոր, բրուցին, նիկոտին
                    պարունակող սարքավորումներ, նյութեր և պարագաներ, խոշոր տեխնիկական սարքավորումներ, որոնք պարունակում
                    են մեծ քանակությամբ մագնիսներ։</p>
            </div>
            <div class="section-header">
                <h4>Ներքին այրման շարժիչներ</h4>
                <p>Ներքին այրման շարժիչներ (մեքենայի շարժիչներ), յուղեր, անտիֆրիզ։</p>
            </div>
            <div class="section-header">
                <h4>Զենք</h4>
                <p>Զենք և զինամթերք, որսորդական պարագաներ:</p>
            </div>
            <div class="section-header">
                <h4>Թանկարժեք մետաղներ</h4>
                <p>Թանկարժեք մետաղներ:</p>
            </div>
            <div class="section-header">
                <h4>Ծխախոտ</h4>
                <p>IQOS, ծխախոտ։</p>
            </div>
            <div class="section-header">
                <h4>Փաստաթղթեր</h4>
                <p>Փաստաթղթեր, արժույթ, արտարժույթ, արժեթղթեր (ներառյալ վիճակախաղի տոմսեր):</p>
            </div>
            <div class="section-header">
                <h4>Սննդամթերք</h4>
                <p>Սննդամթերք:</p>
            </div>
            <div class="section-header">
                <h4>Կենդանիներ</h4>
                <p>Կենդանիներ (կաշի, մորթի և այլն):</p>
            </div>
            <div class="section-header">
                <h4>Աերոզոլ</h4>
                <p>Աերոզոլ, եղունգի լաք:</p>
            </div>
            <div class="section-header">
                <h4>Քիմիկատներ</h4>
                <p>Քիմիկատներ, քայքայող աղեր, մաքրման քիմիական պարագաներ, կալիումի պերմանգանատ։</p>
            </div>
            <div class="section-header">
                <h4>Մարտկոցներ</h4>
                <p>Լիթիում-իոնային մարտկոցներ և էլեմենտներ (թույլատրվում է, եթե գտնվում է սարքավորման մեջ և չի
                    գերազանցում 100 վատտ hզորությունը):</p>
            </div>
            <div class="section-header">
                <h4>Բույսեր, սերմեր</h4>
                <p>Բույսեր, սերմեր, ծաղիկներ (թարմ և չոր):</p>
            </div>


        </div>
    </section><!-- End Services Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="/<%= language%>/users/buyForMe" class="logo d-flex align-items-center">
                    <span>Empire LLC</span>
                </a>
                <p>Cras fermentum odio eu feugiaiaculis eu non diam phasellus.</p>
                <ul>
                    <li><a href="/<%= language%>/users/prohibited"><%= data.footer_1%></a></li>
                    <li><a href="/<%= language%>/users/provisions"><%= data.footer_2%></a></li>
                    <li><a href="/<%= language%>/users/security"><%= data.footer_3%></a></li>
                </ul>
                <div class="cards__list" style="justify-content: flex-start">
                    <img src="/assets/img/payments/Visa.webp"  alt="">
                    <img src="/assets/img/payments/Mastercard.webp" alt="">
                    <img src="/assets/img/payments/Mobidram.webp" alt="">
                    <img src="/assets/img/payments/telcell.webp" alt="">
                    <img src="/assets/img/payments/easypay.webp" alt="">
                    <img src="/assets/img/payments/Visa.webp" alt="">
                    <img src="/assets/img/payments/idram.webp" alt="">

                </div>
                <div class="social-links d-flex mt-4">
                    <a target="_blank" href="https://twitter.com/?lang=en" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a target="_blank" href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a target="_blank" href="https://www.instagram.com/?hl=en" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4> <%= data.footer_11%></h4>
                <ul>
                    <li><a href="/<%= language%>"><%= data.head_a_1%></a></li>
                    <li><a href="#"><%= data.head_a_2%></a></li>
                    <li><a href="/<%= language%>/users/registration"><%= data.head_a_5%></a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Product Management</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">Graphic Design</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4><%= data.head_a_2 %></h4>
                <p>
                    <%= data.footer_4%><br>
                    <%= data.footer_5%> <br>
                    <%= data.footer_6%> <br><br>
                    <strong> <%= data.footer_7%></strong> +374 66 666 666<br>
                    <strong> <%= data.footer_8%></strong> info@example.com<br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; <%= data.footer_9%> ․<strong><span> Empire LLC</span></strong>.  <%= data.footer_10%>
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
            <a href="https://itresources.am//">ITRESOURCES</a>
        </div>
    </div>

</footer>

<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/js/app-style-switcher.js"></script>

<script src="/js/waves.js"></script>

<script src="/js/sidebarmenu.js"></script>

<script src="/js/custom.js"></script>

<script src="/js/inputmask.js"></script>

<script src="/js/jquery_ui.js"></script>


<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</body>

</html>


