<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <title> ADMIN </title>-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/login.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script language="javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>


    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/main.css" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/javascripts/add_customers.js"></script>
</head>

<body id="layout" style="padding: 0!important;">
<div id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Empire LLC</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/<%= language%>" class="active"><%= data.head_a_1%></a></li>
                <li><a href="/<%= language%>/about">Մեր մասին</a></li>
                <li class="dropdown"><a href="#"><span>Ծառայություն</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="/<%= language%>/users/legal">Իրավաբանական անձանց տարբերակում</a></li>
                        <!--   <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>-->
                        <!--  <ul>
                              <li><a href="#">Deep Drop Down 1</a></li>
                              <li><a href="#">Deep Drop Down 2</a></li>
                              <li><a href="#">Deep Drop Down 3</a></li>
                              <li><a href="#">Deep Drop Down 4</a></li>
                              <li><a href="#">Deep Drop Down 5</a></li>
                          </ul>-->
                        </li>
                        <li><a  href="/<%= language%>/users/buyForMe"><%= data.head_a_8%></a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                <li><a href="/<%= language%>/users/registration/">Գրանցվել</a></li>
                <li><a href="/<%= language%>/auth/login">Մուտք</a></li>

                <li><a href="/<%= language%>/contact">Հետադարձ կապ</a></li>
           <!--     <li><a class="get-a-quote" href="/<%= language%>/users/buyForMe">Գնիր իմ փոխարեն</a></li>-->
                <div class="dropdown"><a href="#"> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul style="width: 70px">
                        <!--   <select>
                               <option></option>
                               <option></option>
                               <option></option>
                           </select>-->
                        <div class="langWrap">
                            <div><a href="/am/auth/reset_password"  name="lang" class="active"><img
                                            src="/assets/img/arm_lang.svg" class="img-fluid mb-1 mb-lg-0 " alt=""
                                            width="20" height="16">
                                   <!-- <i class="bi bi-chevron-down dropdown-indicator active"></i>--></a></div>
                            <div><a href="/en/auth/reset_password"  name="lang"><img src="/assets/img/en_lang.svg"
                                                                            class="img-fluid mb-1 mb-lg-0" alt=""
                                                                            width="20" height="16">
                                   <!-- <i class="bi bi-chevron-down dropdown-indicator"></i>--></a></div>
                            <div><a href="/ru/auth/reset_password" name="lang"><img src="/assets/img/ru_lang.svg"
                                                                           class="img-fluid mb-1 mb-lg-0" alt=""
                                                                           width="20" height="16">
                                   <!-- <i class="bi bi-chevron-down dropdown-indicator"></i>--></a></div>
                        </div>
                    </ul>
                </div>
                <li><a href="/<%= language%>/users/calc" ><i  style="font-size: 20px;" class="fa-solid fa-calculator"></i></a></li>
            </ul>
        </nav><!-- .navbar -->

    </div>
</div>


<form id="contactReset" action="javascript:void(0)">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">

            <% if(typeof message != 'undefined'){ %>
                <span class="error"> <%= message %></span><br>
            <% } %>

            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
                                <p class="text-white-50 mb-5">Please enter your login and password!</p>
                                <label for="password">Էլ․ Հասցե<span class="text-danger"> *</span></label>
                                <input placeholder="Էլ․ Հասցե" type="email" name="email" class="form-control mt-1"><br>
                                <label for="password">Գաղտնաբառ<span class="text-danger"> *</span></label>
                                <input placeholder="Գաղտնաբառ*" type="password" name="password" class="form-control mt-1"><br>
                                <label for="password_confirm">Կրկնել գաղտնաբառը<span class="text-danger"> *</span></label>
                                <input placeholder="Կրկնել գաղտնաբառը" type="password" name="password_confirm"
                                       class="form-control mt-1"><br>
                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/auth/forgot_password">Confirm
                                        password?</a></p>
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Reset</button>


                                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                    <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                    <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                    <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                                </div>

                            </div>

                            <div>
                                <p class="mb-0">Don't have an account? <a href="/users/registration"
                                                                          class="text-white-50 fw-bold">Sign Up</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>




</body>
<script src="/js/app-style-switcher.js"></script>

<script src="/js/waves.js"></script>

<script src="/js/sidebarmenu.js"></script>

<script src="/js/custom.js"></script>

<script src="/js/inputmask.js"></script>

<script src="/js/jquery_ui.js"></script>

<script>

    $('#contactReset').submit(function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        var form = $(this);
        $(`.validError`).remove();
        var url = 'http://192.168.77.81:8080/api/reset-password';
        $.ajax({
            type: "GET",
            url: url,
            //      dataType:"json",
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                //   console.log(data)
                // if (data.status) {
                    location.href ='http://localhost:1895/<%= language%>/auth/login'
                },
            //     else {
            //         location.href='http://localhost:1895/auth/reset_password'
            //         alert(data.success)
            //     }
            //     // alert(data); // show server response
            // }
            error: function (err) {

                if(err && err.responseJSON){
                    let errors = err.responseJSON;
                    for(let i in errors){
                        console.log(`${errors[i][0]}`);
                        $(`input[name="${i}"]`).after(`<span class="validError text-danger"> ${errors[i][0]}</span>`);
                    }
                }
            }
        });
    });
</script>
</html>